<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanjianke.mysjk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sanjianke.mysjk"
            android:exported="false"
            android:grantUriPermissions="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".service.MusicService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.dd.service"/>
            </intent-filter>
        </service>

        <activity android:name=".bussiness.main.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".web.WebActivity" />
        <activity android:name=".bussiness.login.LoginActivity" />
        <activity android:name=".activity.ZxingActivity" />
        <activity android:name=".bussiness.mine.activity.GameActivity" />
        <activity android:name=".bussiness.mine.activity.SdCardActivity" />
        <activity android:name=".bussiness.mine.activity.MusicActivity"></activity>
    </application>

</manifest>